<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Projects</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in ViewBag.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Project Title</th>
                                <th>Description</th>
                                <th>Course</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var project in student.Projects)
                            {
                                <tr>
                                    <td>@project.ProjectTitle</td>
                                    <td>@project.Description</td>
                                    <td>@project.Course</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
